{% extends "blog/madre.html" %}

{% load static %}

{% block contenidoUno %}
<br>
<br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<u>Brian Celis:</u> actualmente cursando la carrera de contador público. Inicié el curso por curiosidad y para aprender a usar una nueva herramienta.
<br>
<br>
<u>Camila Bermejo :</u> actualmente cursando la carrera de administración de empresas en la UBA.Estoy en el curso por que intento complementar anteriormente había hecho el curso de data analytics.
</body>
</html>
{% endblock %}